@import url("https://fonts.googleapis.com/css?family=Fira+Sans&display=swap");

* {
    font-size: 1vw;
    font-family: "Fira Sans";
    text-align: center;
}

b {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

h1 {
    font-size: 8rem;
    font-weight: bold;
}

h2 {
    font-size: 5rem;
    font-weight: bold;
}

i {
    font-size: 1.5rem;
    font-style: italic;
    margin: 0;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

p {
    font-size: 1.5rem;
    margin: 0;
    padding: 1rem;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;

    height: 100%;
    margin: 0;
    padding: 0;
}

#header {
    background-color: #de9;

    display: flex;
    justify-content: space-around;
    align-items: center;

    flex-shrink: 0;
    box-shadow: 0 0.3rem 0.63rem rgba(0,0,0,0.16), 0 0.3rem 0.63rem rgba(0,0,0,0.23);
    margin: 0.5rem;
    border-radius: 0.5rem;
}

#ocf-logo {
    width: 25rem;
}

#dashboard {
    display: flex;
    justify-content: space-between;

    flex-grow: 1000000;
    padding: 0.5rem;
    background-color: #fbfbfb;
}

.printer {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 33%;
}

.printer-title {
    color: black;
    width: 90%;
    box-shadow: 0 0.3rem 0.63rem rgba(0,0,0,0.16), 0 0.3rem 0.63rem rgba(0,0,0,0.23);
    margin: 1rem 5%;
    padding: 5rem 0;
}

.printlist {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-y: scroll;
}

.printlist::-webkit-scrollbar {
    display: none;
}

@keyframes enter {
    from {
        opacity: 0;
        transform: translateX(-2rem);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes exit {
    from {
        opacity: 1;
        transform: translateX(0);
    }
    to {
        opacity: 0;
        transform: translateX(-2rem);
    }
}

@keyframes exit-post {
    from {
        max-height: 2.5rem;
    }
    to {
        max-height: 0;
        margin: 0;
    }
}

.printlist-entry {
    display: flex;
    color: black;
    width: 90%;
    animation: enter 1s;
    box-shadow: 0 0.3rem 0.63rem rgba(0,0,0,0.16), 0 0.3rem 0.63rem rgba(0,0,0,0.23);
    margin: 0.5rem 5%;
    overflow: hidden;
}

.printlist-entry > * {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0.5rem 1rem;
}

.time-entry {
    font-family: monospace;
    flex-shrink: 0;
    letter-spacing: -0.1rem;
}

.username-entry {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    letter-spacing: 0.1rem;
}

.status-entry {
    margin: 0;
    transition: color 1s;
    flex-shrink: 0;
    font-family: monospace;
    letter-spacing: 0.1rem;
    transition: background-color 1s, color 1s;
}

#footer {
    background-color: #0f4d92;
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;

    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    margin: 0.5rem;
    border-radius: 0.5rem;
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-0.5rem);
    }
    75% {
        transform: translateX(5rem);
    }
    100% {
        transform: translateX(0);
    }
}

[status="completed"] {
    background-color: rgba(110, 208, 103, 0.73);
}

[status="pending"] {
    background-color: rgba(255, 238, 51, 1);
}

[status="error"] {
    background-color: rgba(255, 56, 56, 0.84);
    color: white;
    font-weight: 4000;
    animation: shake 1s;
}

.printlist-null {
    box-shadow: 0 0.3rem 0.63rem rgba(0,0,0,0.16), 0 0.3rem 0.63rem rgba(0,0,0,0.23);
    margin: 0.5rem auto;
    font-size: 1.5rem;
    text-align: center;
    display: block;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: rgba(0,0,0,0.1);
}