<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
  <title>Print List</title>
</head>

<body>
  <noscript>
    <strong>
      We're sorry but this page doesn't work properly without JavaScript
      enabled. Please enable it to continue.
    </strong>
  </noscript>

  <header id="header">
    <h1 id="title">Print List</h1>
    <img id="ocf-logo" src="{{ url_for('static', filename='ocf-logo.svg') }}" />

  </header>

  <div id="dashboard">
    {% for printer in printer_names %}
    <div id="{{printer}}" class="printer">
      <h2 class="printer-title">{{printer_names[printer]}}</h2>
      <div class="printlist"></div>
    </div>
    {% endfor %}
  </div>

  <footer id="footer">
    <p>This page is updated frequently (every few seconds).</p>
    <p>If you don't see your job <b>printed out</b>, please contact a staffer.</p>
    <p><i>Thank you for flying OCF!</i></p>
  </footer>

  <script type="text/javascript" src="{{ url_for('static', filename='fetch.js') }}"></script>
</body>

</html>