<!DOCTYPE html>
<html>

<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

<head>

<meta http-equiv="refresh" content="5" name="viewport" content="width=device-width, initial-scale=1">

<style>
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

</style>

</head>

<body>

<div class="topnav">
  <a href="logjam">logjam</a>
  <a href="papercut">papercut</a>
  <a href="pagefault">pagefault</a>
</div>

<div style="padding-left:16px">
  <h2>Printer Jobs for {{printer}}:</h2>
  {% for user in requested_list %}
  <font size="4.5">{{ user[0] }}<br /></font>
  {% endfor %}
</div>

</body>

</html>
